body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/*header*/
header {
  margin: 0;
  height: 70px;
  background-color: #404041;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top:15px;
  font-weight: 700;
  font-size: 35px;
  color: #ed458b;
}

h1 span {
  font-weight: 300;
  color: #e6e7e8;
}
/*main*/
main {
  text-align: center;
}

input {
  display: block;
  margin: 20px auto;
  width: 90%;
  height: auto;
  font-size: 20px;
}

input:focus {
    outline-color: #ed458b;
}


button {
  display: block;
  margin: 15px auto 15px;
  border: none;
  border-radius: 10px;
  width: 90%;
  font-size: 20px;
  height: auto;
  background-color: #929497;
  color: #ffffff;
}

button:focus {
  outline:none;
}


button:disabled {
  background-color: #d0d2d3;
  color: #ffffff;
}

button:hover:enabled {
  background-color: #eb008b;
}

.guessTitle {
  color: #404041;
  font-size: 20px;
  height: 25px;
  margin-top:10px;
}

.lastGuess {
  color: #ed458b;
  font-size: 150px;
  height: 175px;
}

.guessDir {
  color: #404041;
  font-size: 20px;
  height: 50px;
  width: 90%;
  margin: 0 auto 0;
}

/*settings*/

#settingsButton {
  height: 25px;
  width: 25px;
  opacity: .3;
}

#settingsButton:hover{
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

section h2{
  color: #e6e7e8;
}

section input{
  width: 90%;
}

section button {
  width: 90%;
}

@media screen and (max-width: 500px){
  .boom{
    font-size: 90px;
  }
}

@media screen and (min-width: 450px) {
    #guessButton, #clearButton {
        margin: 15px auto 15px;
        width: 45%;
        display: inline-block;
    }
    Section input {
      display: inline-block;
      width: 30%;
    }
    Section button{
      display: inline-block;
      width: 30%;
    }
}

@media screen and (min-width: 700px) {
    #guessButton, #clearButton {
        /*margin: 15px auto 15px;
        width: 45%;*/
        max-width: 315px;
        /*display: inline-block;*/
    }

    #resetButton {
      /*margin: 15px auto 15px;*/
      max-width: 630px;
    }

    input {
      max-width: 630px;
    }

    Section input {
      max-width: 216px;
    }
    Section button{
      max-width: 210px;
    }

}

#slideout {
    position: fixed;
    top: 225px;
    left: 0;
    width: 35px;
    padding: 12px 0;
    text-align: center;
    background: #ed458b;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/*test*/
#slideout_inner {
    position: fixed;
    top: 225px;
    left: -125px;
    background: #ed458b;
    width: 75px;
    padding: 25px;
    height: 130px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;

}

#slideout img {
  height: auto;
  width: 20px;
  opacity: .5;
}
#slideout_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
    opacity: .5;
}
#slideout:hover {
    left: 125px;
}
#slideout:hover #slideout_inner {
    left: 0;
}
