body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/*header*/
header {
  margin: 0;
  height: 70px;
  background-color: #404041;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top:15px;
  font-weight: 700;
  font-size: 35px;
  color: #ed458b;
}

h1 span {
  font-weight: 300;
  color: #e6e7e8;
}
/*main*/
main {
  text-align: center;
}

input {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: auto;
  font-size: 20px;
}

button {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  width: 90%;
  background-color: #929497;
  font-size: 20px;
  color: #ffffff;
  height: auto;
}

.guessTitle {
  color: #404041;
  font-size: 20px;
}

.lastGuess {
  color: #ed458b;
  font-size: 150px;
  height: 175px;
}

.guessDir {
  color: #404041;
  font-size: 20px;
}
